@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --font-family: 'Open Sans', sans-serif;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

input, button, textarea, select {
    font: inherit;
}

body {
    font-family: var(--font-family)
}