@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --font-family: 'Open Sans', sans-serif;
    --line-height: 1.65;
    --light-bg: #FFFFFF;
    --light-text: #333333;
    --dark-bg: #333333;
    --dark-text: #FFFFFF;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

input, button, textarea, select {
    font: inherit;
}

body {
    font-family: var(--font-family);
    line-height: var(--line-height);
    background-color: var(--light-bg);
    color: var(--light-text);
}

.dark-mode {
    --light-bg: var(--dark-bg);
    --light-text: var(--dark-text);
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
}

@media screen and (max-width: 960px) {
    .container {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 640px) {
    .container {
        padding: 0 1rem;
    }
}

.slide-in-left {
    animation: slide-in-left 1s;
}

@-webkit-keyframes slide-in-left {
    0% {
        filter: blur(20px);
        transform: translateX(-700px);
    }

    100% {
        filter: blur(0);
        transform: translateX(0px);
    }
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}


/* utility classes */
.flex {
    display: flex;
}

.flex.flex-row {
    flex-direction: row;
}

.flex.flex-column {
    flex-direction: column;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: center;
}

.align-items-end {
    align-items: end;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: center;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mx-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}