@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --font-family: 'Open Sans', sans-serif;
    --line-height: 1.65;
    --light-bg: #FFFFFF;
    --light-text: #333333;
    --dark-bg: #333333;
    --dark-text: #FFFFFF;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

input, button, textarea, select {
    /* font: inherit; */
}

body {
    font-family: var(--font-family);
    line-height: var(--line-height);
    background-color: var(--light-bg);
    color: var(--light-text);
}

.dark-mode {
    --light-bg: var(--dark-bg);
    --light-text: var(--dark-text);
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
}

@media screen and (max-width: 960px) {
    .container {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 640px) {
    .container {
        padding: 0 1rem;
    }
}

.slide-in-left {
    animation: slide-in-left 1s;
}

@-webkit-keyframes slide-in-left {
    0% {
        filter: blur(20px);
        transform: translateX(-700px);
    }

    100% {
        filter: blur(0);
        transform: translateX(0px);
    }
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.drop-in-hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 1s;
}

.drop-in-show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.button-theme-toggle {
    border: 0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: grid;
    place-items: center;
    background-color: #42feaa;
    color: #fea422;
    cursor: pointer;
}


/* utility classes */
.flex {
    display: flex;
}

.flex.flex-row {
    flex-direction: row;
}

.flex.flex-column {
    flex-direction: column;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: center;
}

.align-items-end {
    align-items: end;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: center;
}

.gap-1 {
    gap: 1rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mx-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #5928ED;
    display: grid;
    place-items: center;
    font-weight: 700;
    color: #fff;
}

.box:nth-child(2){background-color: #2546F0; color: #fff;}
.box:nth-child(3){background-color: #0073E6; color: #fff;}
.box:nth-child(4){background-color: #00B4C5; color: #111;}
.box:nth-child(5){background-color: #00BF7D; color: #111;}

.box2 {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #00366D;
    display: grid;
    place-items: center;
    font-weight: 700;
    color: #fff;
}

.box2:nth-child(2){background-color: #122277; color: #fff;}
.box2:nth-child(3){background-color: #2C1374; color: #fff;}
.box2:nth-child(4){background-color: #511365; color: #fff;}
.box2:nth-child(5){background-color: #6D1640; color: #fff;}

.sticky-section {
    min-height: 100vh;
    position: sticky;
    top: 0;
    display: grid;
    place-items: center;
    background-color: #37185B;
    color: #D9F634;
}

.sticky-section:nth-child(2){
    background-color: #D9F634;
    color: #37185B;
}
.sticky-section:nth-child(3){background-color: #3B1C62; color: #f5fd86;}
.sticky-section:nth-child(4){background-color: #f5fd86; color: #3b1c62;}
.sticky-section:nth-child(5){background-color: #6407bb; color: #e6f50e;}
.sticky-section:nth-child(6){background-color: #e6f50e; color: #6407bb;}
